<nav class="navbar bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand"><img src="../favicon.ico" alt=""> Product</a>
      
      <a  routerLink="/Addproduct" routerLinkActive="active" class="navbar-brand content-right"><i
        class="fa fa-address-card"></i>Add Product</a>
        <a  routerLink="/" (click)="logout()"  routerLinkActive="active" class="navbar-brand"><i
          class="fa fa-address-card"></i>Log Out</a>
    </div>
</nav>

<div class="container pt-4">
  <form class="d-flex col-md-4 search-marginleft" role="search">
    <input class="form-control me-2" [(ngModel)]="searchText" name="search" type="search" placeholder="Enter Product Id" aria-label="Search" >
    <button class="btn btn-outline-success" type="submit" (click)="search()">Search</button>
  </form>
</div>

<div *ngIf="isShow" class="container pt-4">
  <div class="display-margin card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{product.productName}} &nbsp;&ensp;&nbsp;&nbsp;&nbsp;&nbsp;&ensp;&nbsp;&nbsp;&nbsp;&ensp;&nbsp;&nbsp;&nbsp;&nbsp;&ensp;&nbsp;&nbsp; <button type="submit" (click)="delete()"><i class="bi bi-trash"></i></button></h5>
      <p class="card-text">{{product.shortDescription}}</p>
      <p class="card-text">{{product.detailedDescription}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{product.category}}</li>
      <li class="list-group-item">{{product.stratingPrice}}</li>
      <li class="list-group-item">{{product.bidEndDate}}</li>
    </ul>
  </div>
</div>
<br>


<div *ngIf="isShow" class="container pt-4">
  <button class="btn btn-outline-success" type="submit" (click)="isBidShow = !isBidShow">Place Bid</button>
  <div *ngIf="isBidShow">
    <div class="d-flex col-md-4 search-marginleft">
      <label >BidAmount</label>&nbsp;&nbsp;
      <input  [(ngModel)]="bidAmount" type="number" class="form-control me-2">
      <button class="d-flex btn btn-outline-success" type="submit" (click)="placeBid()">Bid</button>
    </div>
    <div class="col-xs-12">
      
    </div>
  </div>
  <table class="table  table-striped " style="width: 96%;height:max-content;">
    <thead>
        <tr class="text-center">
            <th>Bid Amount</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
        </tr>
    </thead>
    <tbody>
       <tr *ngFor="let item of filter" class="text-center">
            <td>{{item.bidAmount}}</td>
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.phoneNumber}}</td>
        </tr>
    </tbody>
</table>
</div>
