<nav class="navbar bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand"><img src="../favicon.ico" alt=""> Product</a>
      
      <a  routerLink="/" routerLinkActive="active" class="navbar-brand content-right"><i
        class="fa fa-address-card"></i>Sign in</a>
    </div>
</nav>

<h3>Register Form</h3><br>
    <div class="formcard">
        <div class="row">
            <div class="col-xs-12 " style="padding-left: 40px;">
                <form [formGroup]="SigninForm" (ngSubmit)="onSubmit()">
                    <div class="col-sm-8 form-group inputbox">
                        <label >FirstName</label>
                        <input  formControlName="firstName" type="text"  class="form-control">
                    </div>
                    <div class="col-sm-8 form-group inputbox">
                        <label >LastName</label>
                        <input  formControlName="lastName" type="text"  class="form-control">
                    </div>
                    <div class="col-sm-8 form-group inputbox">
                        <label >Email</label>
                        <input  formControlName="email" type="text"  class="form-control">
                    </div>
                    <div class="col-sm-8 form-group inputbox">
                        <label >PhoneNumber</label>
                        <input  formControlName="phoneNumber" type="text"  class="form-control">
                    </div>
                    <div class="col-sm-8 form-group inputbox">
                        <label >Password</label>
                        <input  formControlName="password" type="password"  class="form-control">
                    </div>
                    <div class="col-sm-8 form-group inputbox">
                        <label >Address</label>
                        <input  formControlName="address" type="text"  class="form-control">
                    </div>
                    <div class="col-sm-8 form-group inputbox">
                        <label >City</label>
                        <input  formControlName="city" type="text"  class="form-control">
                    </div>
                    <div class="col-sm-8 form-group inputbox">
                        <label >State</label>
                        <input  formControlName="state" type="text"  class="form-control">
                    </div>
                    <div class="col-sm-8 form-group inputbox">
                        <label >Pincode</label>
                        <input  formControlName="pincode" type="number"  class="form-control">
                    </div><br>
                    <div class="col-xs-12">
                        <button  
                          class="btn btn-dark pe-4 px-4 hover sidemovebutton" 
                          type="submit">Sign up</button> &nbsp;
                          <button  
                          class="btn btn-dark pe-4 px-4 hover "  routerLink="/"
                          type="submit">Cancel</button>
                      </div>
                </form>
            </div>
        </div>

